html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

/*body {
  margin-bottom: 60px;
}*/

body {
    background-color: white;
    margin-bottom: 60px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 110vh;
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: large;
}

header {
    background-color: khaki;
    font-family: 'Calisto MT';
    font-size: small;
    font-weight: 600;
}


footer {
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px; /* Height of the footer */
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: large;
}

hr {
    width: auto;
     
    color:black;

}
